@model Doctor

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

<h4>Doctor</h4>
<hr />


        <form method="post" asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.DoctorId)
            <div class="6u$ 12u$(xsmall) form-group">
                <input asp-for="@Model.Email" placeholder="Email" />
            </div>
            <div class="6u 12u$(xsmall) form-group">
                <input asp-for="@Model.Password" type="password" placeholder="Password" />
            </div>
            <div class="6u 12u$(xsmall) form-group">
                <input asp-for="@Model.Name" placeholder="Name" />
            </div>
            <div class="6u 12u$(xsmall) form-group">
                <input asp-for="@Model.Surname" placeholder="Surname" />
            </div>
            <div class="6u 12u$(xsmall) form-group">
                <input asp-for="@Model.License" placeholder="Speciality" />
            </div>
            <div class="6u 12u$(xsmall) form-group">
                <input asp-for="@Model.Speciality" placeholder="License" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>

