@model Patient

@{
    ViewData["Title"] = "EditPatient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditPatient</h2>

<h4>Patient</h4>
<hr />
<form method="post" asp-action="SavePatient">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(model => model.PatientId)
    <div class="6u 12u$(xsmall) form-group">
        <input asp-for="@Model.Name" placeholder="Name" />
    </div>
    <div class="6u 12u$(xsmall) form-group">
        <input asp-for="@Model.Surname" placeholder="Surname" />
    </div>
    <div class="6u 12u$(xsmall) form-group">
        <input asp-for="@Model.Gender" placeholder="Gender" />
    </div>
    <div class="6u 12u$(xsmall) form-group">
        <input asp-for="@Model.BirthDate" placeholder="BirthDate" />
    </div>
    <div class="6u 12u$(xsmall) form-group">
        <input asp-for="@Model.Address" placeholder="Address" />
    </div>
    <div class="6u 12u$(xsmall) form-group">
        <input asp-for="@Model.Story" placeholder="Story" />
    </div>
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-default" />
    </div>
</form>
 
<div>
    <a asp-action="Index">Back to List</a>
</div>

