@model List<Patient>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Patients</h2>
<div>
    <input type="button" value="Create"
           onclick="@("location.href='"
        + Url.Action("CreatePatient", "Patient")
        + "'")" />

</div>
<br />
<table border="1" cellpadding="3">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Gender</th>
        <th>Address</th>
        <th>History</th>
        <th>Edit</th>
    </tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>
                @Html.TextBox("patients[" + @i + "].Name",
                                                     Model[i].Name,
                                                     new { @readonly = "readonly" })
            </td>
            <td>
                @Html.TextBox("patients[" + @i + "].Surname",
                                                     Model[i].Surname,
                                                     new { @readonly = "readonly" })
            </td>
            <td>
                @Html.TextBox("patients[" + @i + "].Gender",
                                                    Model[i].Gender,
                                                     new { @readonly = "readonly" })
            </td>
            <td>
                @Html.TextBox("patients[" + @i + "].Address",
                                                    Model[i].Address,
                                                     new { @readonly = "readonly" })
            </td>
            <td>
                @Html.TextBox("patients[" + @i + "].History",
                                                   Model[i].Story,
                                                     new { @readonly = "readonly" })
            </td>

            <td>
                @Html.ActionLink(
                          "Edit",
                          "EditPatient",
                          new { id = Model[i].PatientId })
            </td>
        </tr>
    }

</table>